ul {
    text-align: left;
}

#output {
    width: 80%;
    padding-bottom: 50px;
    margin: 30px auto;
}

#duration {
    width: 80%;
}

#loading {
    width: 150px;
}

#preferences {
    margin-top: 15px;
    margin-bottom: 5px;
}

#options { 
    text-align: left;
    margin-left: 18%;
}

#save {
    margin: 8px;
}

#generate {
    margin: 8px;
}

#title {
    margin-top: 20px;
}

#exploreForm {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 1rem;
    width: 70%;
    margin: 2rem auto;
}